.inner-width{
    /* max-width: 1300px; */
    width: 100%;
    margin: auto;
    padding: 0 40px;
    /* overflow: hidden; */

}

.inner-width h1{
    text-align: center;
    /* font-size: 30px; */
    color: #fff;
    padding-bottom: 25px;
   
}

.inner-width p{
    text-indent: 30px;
    text-align: justify;
    line-height: 1.7em;
    padding-bottom: 5px;
}


.fotos{
    /* background: #fcf9f9;
    background: #f1f1f1; */
    background: #252424;
    color: #c9c9c9;
    padding: 0 120px;
}
  
.fotos .inner-width{
    position: relative;
    display: flex;
    justify-content: space-between;
    /* background: #fcf9f9; */
    /* padding-top: 70px; */
    padding: 90px 60px 0 0;
    /* background-color: aqua; */
}

.fotos .inner-width img{
    width: 250px;
    user-select: none;
    transition: .4s;
    transform: Scale(1.1);
}


.fotos .inner-width img:hover{
    /* transform: Scale(1.2); */
    opacity: .7;
}


.fotos .inner-width .tlt{
    max-width: 400px;
    text-align: left;
    padding: 0;
}

.fotos .inner-width .tlt p{
    text-indent: 0px;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 400;
    text-align: left;
}

.fotos .inner-width .tlt h1{
    font-size: 40px; 
    text-transform: uppercase;
    text-align: left;
    font-family: 'Poppins';
    position: relative;
    z-index: 2;
    
}


#duplas .inner-width .tlt h1::after{
  
    position: absolute;
    margin-left: -8px;
    margin-top: -0px;
    z-index: -1;

    content: '\f030';
    font-family: fontAwesome;

    font-size: 30px;
    color: #c44351;

}





/* -------------- */


#galeria{
    /* padding: 80px 60px; */
    position: relative;
    background: linear-gradient(0deg,  #411B1F, #541920);
    height: max-content;
    padding-top: 80px;
    padding-bottom: 80px;

}


#duplas .tlt:hover .line{
    width: 55%;
}


.row{
    display: flex;
    flex-direction: row;

    
    justify-content: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}


.fotitas{
    position: relative;
    border-radius: 5px;

    width: calc(33% - 10px);
    min-width: 300px;
    height: 200px;
    height: auto;
    background-color: #1B1B1B;
    margin: 5px;
    padding: 0px;  
    border: 5px solid #1b1b1b;
    overflow: hidden;
   

}

.fotitas img{
    position: relative;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    transition-delay: .5s;
    transition: .9s;
    z-index: 102;
    user-select: none;
  
}

.fotitas img:hover{
    transform: scale(1.6) rotate(-25deg);
    filter: brightness(30%);
    z-index: 99;
}

.fotitas .bottom{
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left: 20px;
    color: #c9c9c9;
    /* display: none; */
    transition-delay: 2s;
    padding-bottom: 5px;
}

.fotitas .top{
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 20px;
    color: whitesmoke;
    color: #c9c9c9;
    /* display: none; */
    transition-delay: 2s;
    padding-bottom: 5px;
}



@media screen and (max-width: 1350px){



}


@media screen and (max-width: 850px) {
   
    .fotos{
        background: #252424;
        color: #c9c9c9;
        padding: 0 60px;
    }
    
    .fotos .inner-width{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 100px 20px 0 0;
    }

        
    .row{
        display: flex;
        flex-direction: row;

        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

        
    .fotitas{
        width: 300px;
        height: 180px;
        background-color: #1B1B1B;
        margin: 2px;
        padding: 0px;  
        border: 5px solid #1b1b1b;
        overflow: hidden;
    

    }


}



@media screen and (max-width: 750px) {

    .row{
        gap: 10px;
    }

    .fotitas{
        /* width: calc(50% - 10px); */
        /* width: 45%; */
        width: calc(45% - 10px);
        margin: 0;
        height: auto;
    }
    #galeria{
        padding: 80px 30px;
    }
}



@media screen and (max-width: 550px) {
     
    .fotos{
        padding: 0 40px;
    }

    .fotos .inner-width{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        padding: 80px 0px 0 0;
        /* background-color: aqua; */
    }

    
    .fotos .inner-width  .tlt{
        order: 1;
        padding-bottom: 50px;
        width: 100%;
      
    }

    .fotos .inner-width img{
        align-self: center;
        margin-left: -50px;
        width: 180px;
        order: 2;
    }


        
    .fotos .inner-width .tlt p{
        font-size: 17px;
    }

        
    .inner-width h1{
        text-align: center;
        padding-bottom: 10px;
    
    }
        
    #galeria{
        padding: 60px 50px;
    }
    
    .fotitas{
        width: 100%;
        margin: 0;
        height: auto;
    }
}